.clickbutton {
  background-color: while;
  border: 10px solid black;
  color: black;
  padding: 15px 32px; /* Space inside the button */
  text-align: center;
  text-decoration: none; /* Remove default underline */
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer; /* Change cursor to a hand pointer */
  border-radius: 8px; /* Rounded corners */
}
